<% include partials/head.ejs %>
<% include partials/header.ejs %>

<!-- Page content -->

<div id="main-screen-display">
  <div class="main-screen-center container" >
    <p class="main-screen-name">Rocha Leite</p>
    <p class="arquitectos">arquitectos</p>
    <p class="associados">associados</p>
  </div>
</div>

<!-- TODO APAGAR O QUE ESTÁ PARA BAIXO - CÓDIGO FEITO PARA TESTAR IMAGENS -->
<section class="container hidden-container main-container">
  <div class="row project-portfolio-row">
    <% for (i = 0; i < 6; i++) { %>
      <div class="col-md-2">
        <img src="http://via.placeholder.com/100x100">
      </div>
    <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <img src="http://via.placeholder.com/100x100">
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <img src="http://via.placeholder.com/100x100">
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <img src="http://via.placeholder.com/100x100">
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <img src="http://via.placeholder.com/100x100">
    </div>
      <% } %>
  </div>
</section>


<!-- End of Page content -->

<% include partials/footer.ejs %>

