<% include partials/head.ejs %>
<% include partials/header.ejs %>

<!-- Page content -->

<div id="main-screen-display">
  <div class="main-screen-center container" >
    <p class="main-screen-name">Rocha Leite</p>
    <p class="arquitectos">arquitectos</p>
    <p class="associados">associados</p>
  </div>
  <nav class="navbar navbar-expand-lg fixed-bottom">
    <div class="container">
      <div class="navbar-nav">
        <a class="nav-link" href="#">pt</a>
        <a class="nav-link" href="#">en</a>
      </div>
    </div>
  </nav>
</div>

<!-- TODO APAGAR O QUE ESTÁ PARA BAIXO - CÓDIGO FEITO PARA TESTAR IMAGENS -->
<section class="container hidden-container main-container">
  <div class="row project-portfolio-row">
    <% for (i = 0; i < 6; i++) { %>
      <div class="col-md-2">
        <div class="img-wrapper">
          <div class="img-overlay"></div>
          <img src="/images/exemplo.jpg">
        </div>
      </div>
    <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <div class="img-wrapper">
        <div class="img-overlay"></div>
        <img src="/images/exemplo.jpg">
      </div>
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <div class="img-wrapper">
        <div class="img-overlay"></div>
        <img src="/images/exemplo.jpg">
      </div>
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <div class="img-wrapper">
        <div class="img-overlay"></div>
        <img src="/images/exemplo.jpg">
      </div>
    </div>
      <% } %>
  </div>
  <div class="row project-portfolio-row">
      <% for (i = 0; i < 6; i++) { %>
    <div class="col-md-2">
      <div class="img-wrapper">
        <div class="img-overlay"></div>
        <img src="/images/exemplo.jpg">
      </div>
    </div>
      <% } %>
  </div>
</section>


<!-- End of Page content -->

<% include partials/footer.ejs %>

