<% include partials/head.ejs %>
<% include partials/header.ejs %>

<!-- TODO APAGAR O QUE ESTÁ PARA BAIXO - CÓDIGO FEITO PARA TESTAR IMAGENS -->
<section class="container main-container">
  <div class="row">
    <div class="col-md-9">
      <div class="img-wrapper">
        <img class="img-fluid" src="/images/exemplo.jpg">
      </div>
    </div>

    <div class="col-md-3">
      <h1>Titulo</h1>
      <p>dhajshkjdffhfkjdhkjfdhnkdfjnjkfdhkjdhfdkjfhdksjhdfskjfhskjfshdkjf<p>
      hskdjhfkjsdhkjfsdhjkf
      <div class="row">

      </div>
      <div class="row">

      </div>
      <div class="row">
        <p>Morada</p>
      </div>
    </div>
  </div>
</section>


<!-- End of Page content -->

<% include partials/footer.ejs %>

