:root {
  --main-color: rgba(127,0,0,1);
  --hover-color: rgb(97, 0, 0);
  --menu-color: #494949;
}

* {
  font-family: "Century Gothic";
}

#main-screen-display {
  display: table;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#main-screen-display .main-screen-center {
  padding: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#main-screen-display .main-screen-name {
  color: var(--main-color);
  font-size: 100px;
}

.arquitectos, .associados {
  font-size: 34px;
}

#main-screen-display .arquitectos {
  letter-spacing: 33px;
  text-indent: 34px;
}

#main-screen-display .associados {
  letter-spacing: 37px;
  text-indent: 38px;
}

/* min-width 992 px */

header .navbar {
  padding-top: 55px;
  padding-bottom: 15px;
}

footer .navbar {
  padding-top: 8px;
  padding-bottom: 32px;
}

.main-container {
  margin-top: 150px;
  height: calc(100vh - 226px);
}

body {
  overflow-y: hidden;
}

/* end */

.navbar-nav a {
  color: var(--menu-color);
}

.navbar .navbar-brand {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.contact-form input, .contact-form textarea {
  border-radius: 0;
  margin-bottom: 5px;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  color: var(--main-color);
}

.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {
  color: var(--main-color);
}

.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  color: var(--main-color);
}

.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  color: var(--main-color);
}

.contact-form .btn {
  margin-bottom: 5px;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--main-color);
  box-shadow: none;
}

.btn-primary:hover {
  background-color: var(--hover-color);
  box-shadow: none;
}

.btn-primary:focus {
  background-color: var(--hover-color);
  outline: none;
  box-shadow: none;
}

.btn-primary:active {
  background-color: var(--hover-color);
  outline: none;
  box-shadow: none;
}


/* min-width 992px */

.navbar .menu-top {
  position: relative;
  top: 25px
}

.navbar-nav .nav-link {
  font-size: 0.85rem;
}

.navbar .sub-menu .nav-link {
  font-size: 0.75rem;
  line-height: 21px;
}

.navbar-nav .nav-link {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.menu > .navbar-nav > .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar ul li.divider-vertical:after {
  content: "|";
  vertical-align: -25%;
}

/* end */

.project-portfolio-row .img-wrapper {
  position: relative;
  width: 100%;
  height: 115px;
}

.project-portfolio-row img {
  width: 100%;
  height: 100%;
}

.project-portfolio-row .imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.project-portfolio-row .imgOverlayColor {
  background-color: rgba(127,0,0,0.55);
}

/* min-width 992 px */
.project-portfolio-row:not(:last-child) {
  margin-bottom: 4px;
}

/* Changes space between columns */
.gutter-4.row {
  margin-right: -2px;
  margin-left: -2px;
}
.gutter-4 > [class^="col-"], .gutter-4 > [class^=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

/* end */
.selectedProjects img{
  height:100%;
  padding-left: 2px;
  padding-right: 2px;
}

.selectedProjects .img-wrapper {
  position: relative;
  width: auto;
  height: 59vh;
}

.selectedProjects .imgOverlayColor {
  background-color: rgba(127,0,0,0.65);
}

.selectedProjects .imgOverlay {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  z-index: 2;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

/* Hides overlay when image is in slide center*/
.slick-active .imgOverlay{
  display:none;
}

.slick-active a{
  pointer-events: none;
  cursor: default;
}

.project-details {
  background-color: var(--main-color);
}

#message {
  resize: none;
}

.team {
  font-size: 0.80rem;
  text-align: center;
  margin-top: 170px;
}

.team .row:not(:last-child):not(:first-child) {
  margin-bottom: 30px;
}

.team .row-header {
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: bold;
}

/* Animations */
/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity: 1;
}


/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

}

/* APAGAR - RESPONSIVO */
/*@media (min-width: 768px){
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 1200px;
  }
}*/
/* end */



@media screen and (max-width: 992px) {
  /* APAGAR - RESPONSIVO */
  .menu .navbar-nav {
    display: inline-block;
  }

  .menu .navbar-nav li {
    float: left;
  }

  body {
    width: 1200px;
    overflow-y: scroll;
  }

  .main-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* end */
}

@media (min-width: 576px) {

  /* APAGAR - RESPONSIVO */
  .container {
    max-width: 1200px;
  }

  /* end */
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px) {

  /* APAGAR - RESPONSIVO */
  /* substituir por class fixed-top */
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  /* substituir por class fixed-bottom */
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  /*end */
}

/* Medium devices (desktops, 1200px and up) @screen-md-min */
@media (min-width: 1200px) {


}

.hidden{
  display:none;
}

#map{
  height:59vh;
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
