:root {
  --main-color: rgb(127, 0, 0);
  --hover-color: rgb(97, 0, 0);
  --menu-color: #494949;
  --text-color: rgb(100, 100, 100);
  --standard-size: 0.875rem;
  --large-size: 0.8rem;
  --medium-size: 0.75rem;
  --small-size: 0.625rem;
}

* {
  font-family: "Century Gothic";
}

#main-screen-display {
  position: absolute;
  display: table;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

#main-screen-display .main-screen-center {
  display: table-cell;
  vertical-align: middle;
}

#main-screen-display .main-screen-center img {
  height: 200px;
  cursor: pointer;
}

/* min-width 992 px */

header .navbar {
  padding-top: 55px;
  padding-bottom: 15px;
}

footer .navbar {
  padding-top: 8px;
  padding-bottom: 32px;
}

.large-container {
  margin-top: 154px;
  height: calc(100vh - 230px);
}

.small-container {
  margin-top: 194px;
  height: calc(100vh - 270px);
}

body {
  overflow-y: hidden;
}

/* end */

.navbar-nav a {
  color: var(--menu-color);
}

.navbar .navbar-brand {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.shadow-text {
  text-shadow: 1px 0 0 currentColor, 1px 0 0 currentColor;
}

.contacts {
  font-size: var(--large-size);
}

.contacts .contacts-text {
  position: absolute;
  bottom: 0;
}

.contacts .social {
  padding-top: 20px;
}

.contacts .social img {
  width: 20px
}

.contacts-map img {
  width: 100%;
  height: calc(100vh - 230px);
}

/* min-width 992px */

.navbar .menu-top {
  position: relative;
  top: 28px
}

.navbar-nav .nav-link {
  font-size: var(--standard-size);
}

.navbar .sub-menu .nav-link {
  font-size: var(--medium-size);
  position: relative;
  top: 3px;
}

.sub-menu{
  width:0;
  overflow:hidden;
  webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.sub-menu.sub-menu-navbar-open {
  width:100%;
}

.sub-menu.sub-menu-footer-open {
  width:146px;
}

.menu > .navbar-nav > .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar ul li.divider-vertical:after {
  content: "|";
  vertical-align: -25%;
}

.curriculum .curriculum-category {
  padding-bottom: 40px;
}

.curriculum .curriculum-category p {
  margin-bottom: 0;
}

.curriculum .curriculum-category .big-category {
  color: var(--menu-color);
  font-size: var(--standard-size);
}

.curriculum .curriculum-category .small-category {
  color: var(--main-color);
  font-size: var(--small-size);
}

.curriculum .curriculum-content a {
  text-decoration: none;
  color: var(--text-color);
}

.curriculum .curriculum-content, .architects-content, .link-text {
  color: var(--text-color);
  font-size: var(--medium-size);
}

.curriculum .curriculum-content .small-description {
  font-size: var(--small-size);
  color: var(--main-color);
}

/* end */

.project-portfolio-row .img-wrapper {
  position: relative;
  width: 100%;
  height: 115px;
}

.project-portfolio-row img {
  width: 100%;
  height: 100%;
}

.project-portfolio-row .imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.project-portfolio-row .imgOverlayColor {
  background-color: rgba(127,0,0,0.55);
}

.project-portfolio-row .titleOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: var(--medium-size);
  color: rgba(255,255,255,0.85);
  opacity: 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.project-portfolio-row a:hover .titleOverlay{
  opacity: 1;
}

.project-portfolio-row .titleOverlay .title {
  display: table-cell;
  vertical-align: bottom;
  height: 115px;
}

/* min-width 992 px */
.project-portfolio-row:not(:last-child) {
  margin-bottom: 4px;
}

/* Changes space between columns */
.gutter-4.row {
  margin-right: -2px;
  margin-left: -2px;
}
.gutter-4 > [class^="col-"], .gutter-4 > [class^=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

/* end */
.slideshow img,.slideshow video{
  height:100%;
  padding-left: 2px;
  padding-right: 2px;
}

.slideshow .img-wrapper {
  position: relative;
  width: auto;
  min-height: 450px;
  height: calc(100vh - 240px);
}

.slideshow .imgOverlayColor {
  background-color: rgba(127,0,0,0.65);
}
.slideshow{
  overflow-x:hidden;
}

.slideshow .imgOverlay {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  z-index: 2;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

/* Hides overlay when image is in slide center */
.slick-active .imgOverlay{
  display: none;
}

.slick-active a{
  pointer-events: none;
  cursor: default;
}

.project-details {
  background-color: var(--main-color);
}

.architects .architects-content {
  padding-top: 20px;
}

.team {
  font-size: var(--large-size);
  text-align: center;
}

.team .row:not(:last-child):not(:first-child) {
  margin-bottom: 30px;
}

.team .row-header {
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: bold;
}

.link-description {
  color: var(--text-color);
  font-size: var(--small-size);
}

.links-content a {
  text-decoration: none;
  color: var(--text-color);
}

/* Animations */
/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity: 1;
}

@media (min-width: 576px) {

  /* APAGAR - RESPONSIVO */
  .container {
    max-width: 100%;
  }

  /* end */
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

}

@media screen and (max-width: 992px) {
  /* APAGAR - RESPONSIVO */
  .menu .navbar-nav {
    display: inline-block;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .menu .navbar-nav li {
    float: left;
  }

  body {
    width: 1200px;
    overflow-y: scroll;
  }

  .large-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .small-container {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  /* end */
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px) {

  /* APAGAR - RESPONSIVO */
  /* substituir por class fixed-top */
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  /* substituir por class fixed-bottom */
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .container {
    max-width: 960px;
  }

  /*end */
}

/* Medium devices (desktops, 1200px and up) @screen-md-min */
@media (min-width: 1200px) {
  /* APAGAR - RESPONSIVO */
  .container {
    max-width: 1140px;
  }


  /* end */

}

.hidden{
  display:none;
}

#map{
  height:calc(100vh - 230px);
}

.loading{
  position: relative;
  top: calc(100vh - 250px);
  margin-right: -2px;
  margin-left: -2px;
}
