:root {
  --main-color: rgba(127,0,0,1);
  --menu-color: #999999;
}

.navbar {
  background: white;
  height: 60px;
  display: table;
}

.main-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.navbar .navbar-main {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

.nav-menu {
  margin: 0 auto;
  text-align: center;
}

.navbar-main li {
  width: 200px;
}

.navbar-nav a {
  color: var(--menu-color);
}

#main-screen-display {
  display: table;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#main-screen-display .main-screen-center {
  padding: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#main-screen-display .main-screen-name {
  color: var(--main-color);
  font-size: 100px;
}

.arquitectos, .associados {
  font-size: 34px;
}

#main-screen-display .arquitectos {
  letter-spacing: 33px;
  text-indent: 34px;
}

#main-screen-display .associados {
  letter-spacing: 37px;
  text-indent: 38px;
}

.hidden-container {
  display: none;
}

.main-container .project-portfolio-row:not(:last-child) {
  margin-bottom: 20px;
}

.project-portfolio-row .img-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
}
.project-portfolio-row img {
  width: 100%;
  height: 100px;
}

.project-portfolio-row .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(127,0,0,0.65);
  z-index: 2;
  width: 100%;
  height: 100px;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.project-portfolio-row .img-overlay:hover {
  background-color: rgba(127,0,0,0);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

div .project{
  height: 16vh;
}

div .contact-form{
  height: 80vh;
  background-color: rgba(127,0,0,1);
}

div .contact-input{
  margin-bottom:10px;
}

#message {
  resize: none;
}