<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container small-container architects" nice-scroll>
    <div class="row gutter-4 architects-images">
        <div class="col-2">
            <img src="/images/antonio.jpg" style="width:100%">
            <strong>António</strong> Rui Rosas da Silva da
            <br>
            <strong>Rocha Leite</strong>, Porto 1966
            <br>
            FAUP - 1993
        </div>
        <div class="col-2">
            <img src="/images/carla.jpg" style="width:100%">
            <strong>Carla</strong> Mendes Maia da
            <br>
            <strong>Rocha Leite</strong>, Aveiro 1968
            <br>
            FAUP - 1994
        </div>
    </div>
    <div class="row architects-content">
        <div class="col-12">
            Iniciaram a actividade profissional em 1990, ainda estudantes, no atelier Albino, Marta e Cardielos. Entre 1991 e 1993 fizeram o estágio académico com o Prof.º Arqº Bernardo Ferrão, com quem colaboraram até maio de 2000. Simultaneamente, em 1994, criaram o atelier Rocha Leite Arquitectos Associados desenvolvendo desde então projectos de arquitectura na sua maioria em co-autoria.
            <br>
            Têm coordenado uma equipa de arquitectos colaboradores e possuem já uma larga experiência em projecto e acompanhamento técnico de obras. Desenvolvem projectos de construção e de reabilitação ou requalificação nas diversas áreas da arquitectura, nomeadamente em programas de habitação, de equipamentos, de comércio, de serviços, de indústria e de planeamento urbanístico.
            <br>
            Têm sido coordenadores de diversos estágios profissionais e académicos e participado como júri em concursos.
            <br>
            Contam com uma vasta experiência na coordenação de equipas pluridisciplinares no desenvolvimento de cada projecto, procurando uma constante adaptação de soluções técnicas construtivas que garantam uma coerência entre o conceito e a obra, sublinhando sempre a exigência da qualidade e o rigor.
            <br>
            Baseados num princípio de que cada cliente e cada lugar fazem de um projecto único, vivem a arquitectura como um processo apaixonante.
            <br>
        </div>
    </div>
</section>