<div class="container main-container large-container contacts">
    <div class="row gutter-4">
        <div class="col-2">
            <div class="contacts-text">
                <div class="row">
                    <div class="col-12">
                        Rua de Tânger, 1257, 1º<br>
                        4150-732 Porto<br>
                        22 616 4377 | 91 642 6763 |<br>
                        <a href="mailto:rochaleite.arq@gmail.com" class="contact-mail">rochaleite.arq@gmail.com</a>
                    </div>
                </div>
                <div class="row social">
                    <div class="col-2">
                        <a target="_blank" href="https://www.facebook.com/rochaleite.arq"><img src="/images/icons/facebook.svg"></a>
                    </div>
                    <div class="col-2">
                        <a target="_blank" href="https://www.instagram.com/rochaleitearquitectos/"><img src="/images/icons/instagram.svg"></a>
                    </div>
                    <div class="col-2">
                        <a target="_blank" href=""><img src="/images/icons/linkedin.svg"></a>
                    </div>
                    <div class="col-2">
                        <a target="_blank" href=""><img src="/images/icons/pinterest.svg"></a>
                    </div>
                    <div class="col-2">
                        <a href="mailto:rochaleite.arq@gmail.com"><img src="/images/icons/send.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 contacts-map">
            <a href="http://maps.google.com/maps?q=41.1611335,-8.6588979"><img src="/images/mapa.jpg"></a>
        </div>
    </div>
</div>