<section class="container main-container small-container curriculum" nice-scroll>
    <img class="loading" src="/images/loading.svg" ng-show="loading" />
    <div class="curriculum-category">
        <p><span class="big-category">{{ ('HABITACAO' | translate).toUpperCase() }}</span> | <span class="small-category">{{ ('REABILITACAO' | translate).toUpperCase() }}</span></p>
    </div>
    <div class="curriculum-content" ng-repeat="curriculum in curriculums">
        <a href="/{{ 'PROJECTOS' | translate }}/{{curriculum.id}}">{{curriculum.description}} / {{curriculum.address}} ({{curriculum.year}}) <span class="small-description">{{curriculum.state}}</span></a>
        <br>
        <br>
    </div>
</section>