<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container small-container">
        <div class="curriculum-tabs">
            <ul class="nav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="" data-toggle="tab" data-target="#habitacao" role="tab">HABITAÇÃO</a>
                </li>
                <li class="divider-vertical"></li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="tab" data-target="#reabilitacao" role="tab">REABILITAÇÃO</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="habitacao" role="tabpanel">
                    RECUPERAÇÃO E AMPLIAÇÃO DE HABITAÇÃO / Rua de Tânger, Porto (2015) <span class="small-description">Em construção</span>
                    <br>
                    <br>

                    REMODELAÇÃO DE MORADIA UNIFAMILIAR / RUA PEDRO TEIXEIRA, ANTAS, PORTO (2012-2013) <span class="small-description">Construída</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR / QUINTA DO MONDEGO, NELAS (2014) <span class="small-description">Projecto de Execução concluído</span>
                    <br>
                    <br>


                    MORADIA UNIFAMILIAR / FRENTE MARÍTIMA DE VALADARES – VILA NOVA DE GAIA (2012-2013) <span class="small-description">Projecto de Licenciamento</span>
                    <br>
                    <br>

                    REMODELAÇÃO DE MORADIA UNIFAMILIAR / RUA FERNÃO VAZ DOURADO, FOZ DO DOURO PORTO (2012) <span class="small-description">Construída</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR / QUINTA DAS LUZES, JOVIM - GONDOMAR (2011)
                    <span class="small-description">Construída</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR PARA FÉRIAS / SÃO COSMADO, ARMAMAR (2010)
                    <span class="small-description">Construída</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA / RUA DE PEREIRÓ, PORTO (2009)
                    <span class="small-description">Estudo Prévio</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA (42 Apart.) / TRAVESSA JOSÉ FONTANA,  VILA NOVA DE GAIA (2005) <span class="small-description">Construído</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA (10 Apart-Moradia) / AZURARA, VILA DO CONDE (2005) <span class="small-description">Projecto de Execução concluído</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA (100 Apart.) / RUA DO RIO DA FONTE, VILA NOVA DE GAIA (2004) <span class="small-description">Construído</span>
                    <br>
                    <br>

                    REMODELAÇÃO E AMPLIAÇÃO DE MORADIA / BAIRRO MARECHAL GOMES DA COSTA, PORTO (2003) <span class="small-description">Construída</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR / TOUGUINHÓ, VILA DO CONDE (2003)
                    <span class="small-description">Projecto de Execução concluído</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR / MODIVAS, VILA DO CONDE (2002)
                    <span class="small-description">Projecto de Execução concluído</span>
                    <br>
                    <br>

                    EDIFÍCIO MULTIFAMILIAR / MODIVAS, VILA DO CONDE (2002)
                    <span class="small-description">Construído</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA (16 fogos) / AZURARA - VILA DO CONDE (2002)
                    <span class="small-description">Projecto de Licenciamento</span>
                    <br>
                    <br>

                    EDIFÍCIOS DE HABITAÇÃO, COMÉRCIO E SERVIÇOS – EMPREENDIMENTOS V8 E PARCAUTO / VILA NOVA DE GAIA (2002) <span class="small-description">Estudo sem continuidade</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA COM (24 fogos) / AZURARA - VILA DO CONDE (2002) <span class="small-description">Projecto de Licenciamento</span>
                    <br>
                    <br>

                    EDIFÍCIO DE HABITAÇÃO COLECTIVA (110 fogos) / RUA DA FONTE, V N GAIA (2001)
                    <span class="small-description">Construído</span>
                    <br>
                    <br>

                    MORADIA UNIFAMILIAR / PALHEIRA – COIMBRA
                </div>
                <div class="tab-pane" id="reabilitacao" role="tabpanel">
                    dsadsadas
                </div>
            </div>
        </div>
</section>