<!-- Navigation -->
<nav class="hidden-container navbar navbar-expand-lg fixed-top">
    <div class="container navbar-main">
        <ul class="nav-menu navbar-nav">
            <li class="nav-item">
                <a id="projects" class="nav-link" href="/projects">{{ 'PROJECTOS' | translate }}</a>
            </li>
            |
            <li class="nav-item">
                <a id="atelier" class="nav-link">{{ 'ATELIER' | translate }}</a>
            </li>
            <li class="nav-item">
                <a id="rocha_leite_arquitectos" class="nav-link" href="/atelier">{{ 'ROCHA_LEITE_ARQUITECTOS' | translate }}</a>
            </li>
            <li class="nav-item">
                <a id="team" class="nav-link" href="/team">{{ 'EQUIPA' | translate }}</a>
            </li>
            <li class="nav-item">
                <a id="curriculum" class="nav-link" href="/curriculum">{{ 'CURRICULUM' | translate }}</a>
            </li>
            <li class="nav-item">
                <a id="distinctions" class="nav-link" href="/distinctions">{{ 'DISTINCOES' | translate }}</a>
            </li>
            <li class="nav-item">
                <a id="links" class="nav-link" href="/links">{{ 'LINKS' | translate }}</a>
            </li>
            |
            <li class="nav-item">
                <a id="contacts" class="nav-link" href="/contacts">{{ 'CONTACTOS' | translate }}</a>
            </li>
            |
            <li class="nav-item">
                <a id="highlights" class="nav-link" href="/highlights">{{ 'DESTAQUE' | translate }}</a>
            </li>
        </ul>
    </div>
</nav>