<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container small-container">
    <div class="row">
        <div class="col-12 architects-content"><!-- TODO class com texto mais pequeno qque o menu e cor dos links-->
            http://ultimasreportagens.com/ultimas.php - 652 - Rocha Leite Arquitectos Associados | Sede Agros | Póvoa do Varzim, Pt (182 img)
            <br>
            <span class="font-weight-bold">Edifício Sede, Espaço Agros</span>
            <br>
            <br>
            https://www.archdaily.com/324138/agros-headquarters-rocha-leite-arquitectos-associados - EN
            <br>
            <span class="font-weight-bold">Edifício Sede, Espaço Agros</span>
            <br>
            <br>
            https://www.archdaily.com.br/br/704139/sede-agros-slash-rocha-leite-arquitectos-associados - PT|BR
            <br>
            <span class="font-weight-bold">Edifício Sede, Espaço Agros</span>
            <br>
            <br>
            http://www.norte41.oasrn.org/pt-pt/content/casa-da-baixa Respect for Architecture 2012 Porto -
            <br>
            <span class="font-weight-bold">Casa da Baixa</span>
            <br>
            <br>
            http://p3.publico.pt/cultura/arquitectura/4418/respect-architecture-20-espacos-do-porto-em-exposicao  Respect for Architecture 2012 Porto -
            <br>
            <span class="font-weight-bold">Casa da Baixa</span>
            <br>
            <br>
            https://www.archdaily.com/333063/casa-da-baixa-rocha-leite-arquitectos-associados - EN
            <br>
            <span class="font-weight-bold">Casa da Baixa</span>
            <br>
            <br>
            https://www.archdaily.com.br/br/01-98920/casa-da-baixa-slash-rocha-leite-arquitectos-associados - PT-BR
            <br>
            <span class="font-weight-bold">Casa da Baixa</span>
        </div>
    </div>
</section>