<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container small-container" nice-scroll>
    <div class="row">
        <div class="col-12 links-content"><!-- TODO class com texto mais pequeno qque o menu e cor dos links-->
            <div ng-repeat="link in links">
                <a target="_blank" href="{{link.link}}">
                    <span class="link-text">{{link.description}} - {{(link.language).toUpperCase()}}</span>
                    <br>
                    <span class="link-description font-weight-bold">{{link.title}}</span>
                </a>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>