<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container small-container">
    <div class="row">
        <div class="col-12 links-content"><!-- TODO class com texto mais pequeno qque o menu e cor dos links-->
            <a target="_blank" href="http://ultimasreportagens.com/ultimas.php">
                <span class="link-text">http://ultimasreportagens.com/ultimas.php - 652 - Rocha Leite Arquitectos Associados | Sede Agros | Póvoa do Varzim, Pt (182 img)</span>
                <br>
                <span class="link-description font-weight-bold">Edifício Sede, Espaço Agros</span>
            </a>
            <br>
            <br>
            <a target="_blank" href="https://www.archdaily.com/324138/agros-headquarters-rocha-leite-arquitectos-associados">
                <span class="link-text">https://www.archdaily.com/324138/agros-headquarters-rocha-leite-arquitectos-associados - EN</span>
                <br>
                <span class="link-description font-weight-bold">Edifício Sede, Espaço Agros</span>
                <br>
                <br>
                <a target="_blank" href="https://www.archdaily.com.br/br/704139/sede-agros-slash-rocha-leite-arquitectos-associados">
                    <span class="link-text">https://www.archdaily.com.br/br/704139/sede-agros-slash-rocha-leite-arquitectos-associados - PT|BR</span>
                    <br>
                    <span class="link-description font-weight-bold">Edifício Sede, Espaço Agros</span>
                </a>
                <br>
                <br>
                <a target="_blank" href="http://www.norte41.oasrn.org/pt-pt/content/casa-da-baixa">
                    <span class="link-text">http://www.norte41.oasrn.org/pt-pt/content/casa-da-baixa Respect for Architecture 2012 Porto -</span>
                    <br>
                    <span class="link-description font-weight-bold">Casa da Baixa</span>
                </a>
                <br>
                <br>
                <a target="_blank" href="http://p3.publico.pt/cultura/arquitectura/4418/respect-architecture-20-espacos-do-porto-em-exposicao">
                    <span class="link-text">http://p3.publico.pt/cultura/arquitectura/4418/respect-architecture-20-espacos-do-porto-em-exposicao  Respect for Architecture 2012 Porto -</span>
                    <br>
                    <span class="link-description font-weight-bold">Casa da Baixa</span>
                </a>
                <br>
                <br>
                <a target="_blank" href="https://www.archdaily.com/333063/casa-da-baixa-rocha-leite-arquitectos-associados">
                    <span class="link-text">https://www.archdaily.com/333063/casa-da-baixa-rocha-leite-arquitectos-associados - EN</span>
                    <br>
                    <span class="link-description font-weight-bold">Casa da Baixa</span>
                </a>
                <br>
                <br>
                <a target="_blank" href="https://www.archdaily.com.br/br/01-98920/casa-da-baixa-slash-rocha-leite-arquitectos-associados">
                    <span class="link-text">https://www.archdaily.com.br/br/01-98920/casa-da-baixa-slash-rocha-leite-arquitectos-associados - PT-BR</span>
                    <br>
                    <span class="link-description font-weight-bold">Casa da Baixa</span>
                </a>
        </div>
    </div>
</section>