<section class="container main-container projects-container" ng-show="!selectedProjects" ng-niceScroll>
    <div class="row project-portfolio-row" ng-repeat="rowProjects in slicedProjects">
        <div class="col-2 project" ng-repeat="project in rowProjects">
            <a href="/projects/{{project.id}}">
                <div class="img-wrapper">
                    <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                         ng-mouseenter="hover = true"
                         ng-mouseleave="hover = false"></div>
                    <img src="{{project.thumbnail}}">
                </div>
            </a>
        </div>
    </div>
    <div class="row project-portfolio-row" ng-repeat="rowProjects in slicedProjects">
        <div class="col-2 project" ng-repeat="project in rowProjects">
            <a href="/projects/{{project.id}}">
                <div class="img-wrapper">
                    <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                         ng-mouseenter="hover = true"
                         ng-mouseleave="hover = false"></div>
                    <img src="{{project.thumbnail}}">
                </div>
            </a>
        </div>
    </div>
</section>

<section class="container main-container" ng-if="selectedProjects">
    <div class="row project-portfolio-row">
        <div class="col-md-2 project" ng-repeat="project in selectedProjects">
            <a href="/projects/{{project.id}}">
                <div class="img-wrapper">
                    <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                         ng-mouseenter="hover = true"
                         ng-mouseleave="hover = false"></div>
                    <img src="{{project.thumbnail}}">
                </div>
            </a>
        </div>
    </div>
</section>

<footer ng-include="'views/partials/footer.htm'"></footer>
