<!-- TODO APAGAR O QUE ESTÁ PARA BAIXO - CÓDIGO FEITO PARA TESTAR IMAGENS -->
<section class="container main-container">
    <div class="row">
        <div class="col-md-9">
            <div class="img-wrapper">
                <img class="img-fluid" src="../../images/exemplo.jpg">
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <h1>{{project.title}}</h1>
            </div>
            <div class="row">
                <p>{{project.description}}<p>
            </div>
            <div class="row">
                <p>{{project.address}}</p>
            </div>
        </div>
    </div>
</section>


<footer ng-include="'views/partials/footer.htm'"></footer>