<img class="loading" src="/images/loading.svg" ng-show="loading" />

<section class="container main-container projects-container" ng-show="!selectedProjects" ng-niceScroll>
    <div class="row project-portfolio-row" ng-repeat="rowProjects in slicedProjects">
        <div class="col-2 project" ng-repeat="project in rowProjects">
            <a href="/{{ 'PROJECTOS' | translate }}/{{project.id}}">
                <div class="img-wrapper">
                    <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                         ng-mouseenter="hover = true"
                         ng-mouseleave="hover = false"></div>
                    <img src="{{project.thumbnail}}">
                </div>
            </a>
        </div>
    </div>
    <div class="row project-portfolio-row" ng-repeat="rowProjects in slicedProjects">
        <div class="col-2 project" ng-repeat="project in rowProjects">
            <a href="/{{ 'PROJECTOS' | translate }}/{{project.id}}">
                <div class="img-wrapper">
                    <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                         ng-mouseenter="hover = true"
                         ng-mouseleave="hover = false"></div>
                    <img src="{{project.thumbnail}}">
                </div>
            </a>
        </div>
    </div>
</section>



<section class="container main-container" ng-if="selectedProjects">
    <slick class="selectedProjects" settings="slickConfig" ng-if="selectedProjectsConfigured">
        <div ng-repeat="project in selectedProjects">
            <div class="img-wrapper">
                <div class="imgOverlay" ng-class="{imgOverlayColor: !hover}"
                     ng-mouseenter="hover = true"
                     ng-mouseleave="hover = false"></div>
                <img src="{{project.thumbnail}}">
            </div>
        </div>
    </slick>
</section>

<footer ng-include="'views/partials/footer.htm'"></footer>
