<section class="container main-container">
    <div class="row">
        <div class="col-md-8 project-images">
            <div class="img-wrapper">
                <img class="img-fluid" src="../../images/exemplo.jpg">
            </div>
        </div>

        <div class="col-md-4 project-details bg-main-color text-white">
            <h1>{{project.title}}</h1>
            <br>
            <div class="project-description">
                {{project.description}}
                <!-- estes brs é para o texto nao ficar com fade out no fim (havera melhor solucao)-->
                <br>
                <br>
                <br>
            </div>
            <div class="project-description-overlay"></div>
            <br>
            <p>{{project.address}}<p/>
        </div>
    </div>
</section>


<footer ng-include="'views/partials/footer.htm'"></footer>