<section class="container main-container small-container team">
    <img class="loading" src="/images/loading.svg" ng-show="loading" />
    <div class="row row-header gutter-4">
        <div class="col-md-2">
            António Rocha Leite
        </div>
        <div class="col-md-2">
            Carla Rocha Leite
        </div>
    </div>
    <div class="row gutter-4" ng-repeat="rowMembers in slicedMembers">
        <div class="col-md-2" ng-repeat="member in rowMembers">
            {{member.name}}
        </div>
    </div>
</section>