<section class="container main-container large-container team">
    <div class="row row-header">
        <div class="col-md-2">
            António Rocha Leite
        </div>
        <div class="col-md-2">
            Carla Rocha Leite
        </div>
    </div>
    <div class="row">
    <div class="col-md-2">
        Jorge Alves
    </div>
    <div class="col-md-2">
        Filipa Russell Alves
    </div>
    <div class="col-md-2">
        Ivo Machado
    </div>
    <div class="col-md-2">
        Vânia Simões
    </div>
    <div class="col-md-2">
        Artur Soares
    </div>
    <div class="col-md-2">
        Rita Cunha
    </div>
</div>
    <div class="row">
        <div class="col-md-2">
            Alexandra Ferreira
        </div>
        <div class="col-md-2">
            Açucena Magano
        </div>
        <div class="col-md-2">
            António Miguel Monteiro
        </div>
        <div class="col-md-2">
            Cátia Meirinhos
        </div>
        <div class="col-md-2">
            Susana Ferraz
        </div>
        <div class="col-md-2">
            Inês Pimentel
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Ana Simões
        </div>
        <div class="col-md-2">
            Lara Rodrigues
        </div>
        <div class="col-md-2">
            João Tomás Braga
        </div>
        <div class="col-md-2">
            Fernando Ferrão
        </div>
        <div class="col-md-2">
            Pedro Figueiredo
        </div>
        <div class="col-md-2">
            Pedro Carvalho
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Rui Lamas
        </div>
        <div class="col-md-2">
            Marta Gomes
        </div>
        <div class="col-md-2">
            Sofia Jordão
        </div>
        <div class="col-md-2">
            Nuno Marques
        </div>
        <div class="col-md-2">
            Luís Almeida
        </div>
        <div class="col-md-2">
            Manuela Braga
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Pedro Aguiar
        </div>
        <div class="col-md-2">
            Eduardo Azevedo
        </div>
        <div class="col-md-2">
            João Paulo Oliveira
        </div>
        <div class="col-md-2">
            Edgar Soares
        </div>
        <div class="col-md-2">
            Alice Prata
        </div>
        <div class="col-md-2">
            Jorge Silva
        </div>
    </div>
</section>